<div id="banner-image-2"></div>

<div class="container">
    <div id="title">
      <h1 id="elementaryschool">Elementary School Assemblies</h1>
      <h4>
        Powerful and interactive 3-screen assembly programs designed to erase the insecurities and fears students face daily, 
        replacing them with an understanding of their true protential and the desire and motivation to be ther best they can 
        be in whatever circumstances they face.
      </h4>
    </div>
    
    <br />
    
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-md-6">
        <%= link_to the_right_choice_path :class=>"soft-link" do %>
         <span>
           <%= image_tag("worthit_header.jpg", :class=>"img-responsive") %>
         </span>
        <% end %>
      </div>
      <div class="col-md-6" id="presentation-summary" class="hidingBox">
        <p><strong>Theme: Making Good Choices</strong></p>
        <p>
          <strong>THE RIGHT CHOICE!</strong> will help your students make good decisions. The program will address how the choices they make affect
          them in both positive and negative ways. They will learn that good decisions lead to positive actions and that the right 
          choices will help them and their friends excel in school and in life.
        </p>
        <%= link_to 'Learn More/Schedule', contact_us_path, :class=>"btn btn-primary pull-right left-padding"%>  
        <%= link_to 'Learn More', the_right_choice_path, :class=>"btn btn-primary pull-right"%> 
      </div>
    </div>
    
    <br />
    
    <div class="row">
      <div class="col-md-6">
        <%= link_to tbdelem_path :class=>"soft-link" do %>
         <span>
           <%= image_tag("worthit_header.jpg", :class=>"img-responsive") %>
         </span>
        <% end %>
      </div>
      <div class="col-md-6" id="presentation-summary">
        <p><strong>Theme: Being Your Best</strong></p>
        <p>
          <strong>BE A HERO!</strong> will motivate your students to be heroes! They'll learn that they don't need to have a super strength or wear a 
          cool costume to be a hero. Students will be encouraged to excel in school, to help stop bullying, and to be a role-model - 
          a "hero" for others to follow.
        </p>
        <%= link_to 'Learn More/Schedule', contact_us_path, :class=>"btn btn-primary pull-right left-padding"%> 
        <%= link_to 'More Info', tbdelem_path, :class=>"btn btn-primary pull-right"%> 
      </div>
    </div>
    
    <br />
      
    <div id="other-assemblies-button">
      <%= link_to 'Old Assemblies', old_elementary_path, :class=>"btn btn-primary"%>
    </div>
</div>