<div id="title" class="container padding-top-bottom">
    <h1 id="elementaryschool">Elementary School Assemblies</h1>
    <h4 id="production-explanation">
        Powerful and interactive 3-screen assembly programs designed to erase the insecurities
        and fears students face daily, replacing them with an understanding of their true 
        potential and the desire and motivation to be the best they can be in whatever 
        circumstances they face.
    </h4>
</div>
<div id="banner-image-2">
    <div class = "banner-text text-center invisible">
    
        <p class = "banner-title">Elementary School Assembly</p>
        <p> 
            Bully Prevention and character building presentations that will engage and
            <br />
            motivate your students to exceed in school and in life
        </p>
        <ul>
            <li>Interactive, Relatable, & Fun</li>
            <li>Two Versions of Each Program K-2 & 3-5</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-1">
            <div>
                <br />
                <br />
                <br />
                <br />
                <%= link_to 'Option #1', spreading_kindness_path, :class=>"btn btn-primary"%>
            </div>
        </div>
        <div class = "col-md-3">
            <p class="md-size-text"><strong>SPREAD KINDNESS</strong></p>
            <%= link_to spreading_kindness_path :class=>"soft-link" do %>
            <span>
                <%= image_tag("SK_Logo.png", :class=>"img-responsive") %>
            </span>
            <% end %>
        </div>
        <div class="col-md-7" id="presentation-summary">
            <p class="md-size-text"><strong>Theme: Social Manners and Citizenship</strong></p>
            <p class="md-size-text">
                <strong>SPREAD KINDNESS</strong> is a high energy three-screen multimedia presentation. It will challenged
                students to make being kind a priority for their lives. your students will discover that one small act of
                kindness, an encouraging word or a smile can change someone's attitude for the entire day. They'll
                find that bullying and being critical are not the best way to make friends or to be the kind of person
                they wish to be. Spreading Kindness involves helping, sharing, listening, and teaching. If we do those things we can 
                change both how we are perceived and how we see ourselves. By working together to SPREAD KINDNESS we can
                improve our lives and inspire those around us to excel and achieve success. 
            </p>
            <%= link_to 'Contact Us', contact_us_path, :class=>"btn btn-primary pull-right left-padding btn-margin-top"%> 
            <%= link_to 'Learn More', spreading_kindness_path, :class=>"btn btn-primary pull-right btn-margin-top"%> 
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <br />
            <br />
            <br />
            <br />
            <%= link_to 'Option #2', count_on_me_path, :class=>"btn btn-primary"%>
        </div>
        <div class="col-md-3">
            <p class="md-size-text"><strong>Count on Me!</strong></p>
            <%= link_to count_on_me_path :class=>"soft-link" do %>
            <span>
                <%= image_tag("countonme_logo.png", :class=>"img-responsive") %>
            </span>
            <% end %>
        </div>
        <div class="col-md-7" id="presentation-summary" class="hidingBox">
            <p class="md-size-text"><strong>Theme: Responsibility & Honesty</strong></p>
            <p class="md-size-text">
                <strong>COUNT ON ME!</strong> is an engaging three-screen school assembly. The program will
                motivate your students to make responsible choices. Students will be challenged to stop 
                making excuses or blaming others for their mistakes. They will be encouraged to take 
                responsibility for their actions, consider others and keep their promises. COUNT ON ME is 
                an incredibly powerful motivational school assembly challenging your students to make positive
                choices, help prevent bullying, and be respectful of others. 
            </p>
            <%= link_to 'Contact Us', contact_us_path, :class=>"btn btn-primary pull-right left-padding btn-margin-top"%>  
            <%= link_to 'Learn More', count_on_me_path, :class=>"btn btn-primary pull-right btn-margin-top"%> 
        </div>
    </div>
</div>