<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class="well text-center">
                <div class="header-color">
                    <br />
                    <h1> Preparing for the School Assembly</h1>
                </div>
            </div>
            <div class = "text-center">
            
             <!-- carousel begins -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <%= image_tag("SetupCaft1.jpg", :class => "img-responsive")  %>
                    </div>
                    <div class="item">
                        <%= image_tag("SetupMulti2.jpg", :class => "img-responsive")  %>
                    </div>
                    <div class="item">
                        <%= image_tag("SetupMulti3.jpg", :class => "img-responsive")  %>
                    </div>
                    <div class="item">
                        <%= image_tag("SetupGym4.jpg", :class => "img-responsive")  %>
                    </div>
                    <div class="item">
                        <%= image_tag("SetupCaft5.jpg", :class => "img-responsive")  %>
                    </div>
                    <div class="item">
                        <%= image_tag("SetupCaft6.jpg", :class => "img-responsive")  %>
                    </div>
                    <div class="item">
                        <%= image_tag("SetupAud7.jpg", :class => "img-responsive")  %>
                    </div>
                    <div class="item">
                        <%= image_tag("SetupAud8.JPG", :class => "img-responsive")  %>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
            <!-- carousel ends --> 
            </div>
            <div class = "panel text-center">
                <h1 class = " discguidetitle ">Who knew character education <br/>could be this easy!</h1>
                <p>We bring all equipment needed</p>
                <p>&#8226; sound system &#8226; screens &#8226; projectors &#8226; microphone</p>
            </div>
            <div class = "panel text-center">
                <h1 class = " discguidetitle ">Pricing </h1>
            </div>
            <p>
                The average school will pay just $795 for 2 showings of the assembly of their chioce. 
                The price can be affected by location and the number of other schools in your area that will be seeing the program so your final cost isn't carved in stone. 
                Please contact us for proper quote.
            </p>
            <div class = "panel text-center">
                <h1 class = " discguidetitle ">Room Size </h1>
            </div>
            <p>
                Our full three-screen set-up requires a 45” width, 12” height, and 23’ projection distance from
                screens to projectors.<br /><br />
                For smaller locations, we can reduce the size of the screens—requiring 30’ width, 8’ height. <br/><br/>
                Our programs can be shown in any type of room including: gymnasiums, auditoriums, multipurpose
                rooms. & cafeterias.
            </p>
            <div class = "panel text-center">
                <h1 class = " discguidetitle ">Lights & Darkness </h1>
            </div>
            <p>
                As with any projected image, the darker the room, the greater the effect. Any windows or skylights
                should be covered prior to our arrival.<br/><br/>
                However, our projectors are fairly bright and can handle it some ambient light in the room.
                Just know that a darker room will give you a better looking image. <br/><br/>
                Our programs can be show in any type of room including: gymnasiums, auditoriums, multipurpose
                rooms. & cafeterias.
            </p>
            <div class = "panel text-center">
                <h1 class = " discguidetitle ">Set-Up Assistance </h1>
            </div>
            <p>
                Please provide 4 people (students or staff) 90 minutes prior to the first show time to help
                unload and set-up equipment. No experience required.
            </p>  
            <div class = "panel text-center">
                <h1 class = " discguidetitle ">Scheduling </h1>
            </div>
            <p>
                We would love to hear from you by phone or by email to know what dates you have in mind for us to come to your school.
                Once we know what dates you're looking at, we can then give you the thumbs up, or provide you with alternate dates. </br></br>
                
            </p>
            <p class = "text-center">Please call: <a href="tel:1-800-522-6335">1-800-522-6335</a></br>
            Or feel free to <%= link_to "email us.", contact_us_path %></p>
            <p class = "text-center">Please be sure to include all your contact information as well as the dates you're interested in</p>
            
        </div>  
        <div class = "col-md-4">
            <br/>
            <br/>
            <div class="insetborder embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/212799396" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
                <h4>Preparation Checklist</h4>
                <p>
                    The following requirements will help your assembly
                    presentation go smoothly and on time.
                </p>
                <ul>
                    <li>
                        Access to assembly room 90 minutes prior to the
                        start of the first program.
                    </li>
                    <li>
                        A contact person available to provide location
                        information and guidance.
                    </li>
                    <li>
                        All windows and skylights covered.
                    </li>
                    <li>
                        A few students or adults to assist in setting things
                        up and preparing the room for the assembly.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>