<div class="showinfobackground">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6 ">
                        <br />
                        <%= image_tag("e2e_logo.png", :class => "img-responsive")  %>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <div>
                            <h3>
                                Two Versions available:
                                One for your K-2 students and a second for grades 3-5 
                            </h3>
                        </div>
                    </div>
                </div>
                <div>
                    <h2> Theme: Seeing the Value of Others</h2>
                    <br />
                    <p>
                        Give people a chance. See them EYE TO EYE. Because what you see is mostly the result of what you decide to look at.
                        <br />
                        <br />
                        It starts with a casual glance; a snap judgment from a distance. "Valuable or worthless?' "Attractive or repulsive?" 
                        "Suitable to copy or just to ridicule?" We base life-changing conclusions about people on their outside appearance and 
                        rarely take  the time to see them EYE TO EYE.
                        <br />
                        <br />
                        This type of thinking leads people to...
                        <br />
	                    ...be critical, lack kindness, and eventually bully others.
	                    <br />
	                    ...believe that their self-worth is based on what others think.
	                    <br />
	                    ...believe that some people are more valuable than others.
	                    <br />
	                    <br />
                        Every day of lives we make decisions based on what we see or at least on what we think we see. And most of the time it's a 
                        good thing we do. But sometimes, what may look real at first turns out to be not-so-real. Rather than taking a quick glance
                        and making a snap judgment that's over in a blink, we need to take a second look with a kindness and caring attitude to see them EYE TO EYE. 
                        <br />
                        <br />
                        What we see in other people is mostly the result of what we decide to look at. If we only look at the surface, we'll live on 
                        the surface. But if we take the time to look deeper, to listen to what people are really saying, to understand their point of 
                        view, and get to know them, we will start seeing others EYE TO EYE. 
                        <br />
                        <br />
                        Camfel Productions' EYE TO EYE is a high energy three-screen multi-media presentation designed to give students a straightforward
                        look at how we classify, categorize and label each other. this experience of music and media focuses on the attitudes that 
                        lead to build up cliques, tear down confidence, and bullying behaviors. It's an invitation to look beneath the surface and see 
                        other people and ourselves EYE YO EYE. 
                    </p>
                </div>
                <div  class="row">
                    <div class="col-md-3">
                        <br />
                        <br />
                        <div onClick="document.getElementById('discguide').scrollIntoView();">
                            <button type = "button" class = "btn freebutton">FREE</button>
                            <button type="button" class="btn btn-primary btn-block" >Eye to Eye <br />Follow-up Guide</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <br />
                        <a href = "https://characteredtools.com"><button type="button" class="btn btn-primary btn-block">Eye to Eye <br/>Deluxe Package</button></a>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <br />
                        <%= link_to contact_us_path :class=> "soft-links"  do %>
                        <span>
                            <button type="button" class="btn btn-primary btn-block">Schedule - Get <br/>Available Dates</button>
                        </span>
                        <% end %>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <br />
                        <%= link_to asset_path("Eye_to_Eye.pdf")  do %>
                        <span>
                            <button type="button" class="btn btn-primary btn-block">Printable <br />Flyer</button>
                        </span>
                        <% end %> 
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <!-- empty div -->
            </div>
            <div class="col-md-4">
                <br />
                <br />
                <div>
                    <div class = "row">
                        <div class = "col-md-3">
                            <!-- empty div -->
                        </div>
                        <div class = "panel text-center">
                            <p>You may preview the presentation here!</p>
                            <br />
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">3-5</a></li>
                        <li><a data-toggle="tab" href="#menu1">K-2</a></li>    
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active" >
                            <div class="insetborder embed-responsive embed-responsive-16by9">
                                <%= image_tag("page-under-construction.jpg", :class => "img-responsive")  %>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="insetborder embed-responsive embed-responsive-16by9">
                                <%= image_tag("page-under-construction.jpg", :class => "img-responsive")  %>
                            </div>
                        </div>
                    </div>
                    <!-- carousel begins -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <p class = "text-center carouselpad"> 
                                    The large screens and music had their attention the whole time. 
                                    <br />
                                    Kimberly Keefe, Nuview Elementary, Nuevo, CA
                                </p>
                                <br />
                                <br />
                                <br />
                            </div>
                            <div class="item">
                                <p class = "text-center "> 
                                    The presentation itself was great. 
                                    The kids enjoyed the visual/tech aspects of the presentation. 
                                    <br />
                                    Angela Nelson, Sporting Hill Elementary, Mechanicsburg, PA 
                                </p>
                                <br />
                                <br />
                            </div>
                            <div class="item">
                                <p class = "text-center "> 
                                    Yes, our students loved it! 
                                    I have several students who were very moved by the program 
                                    and have plans to start their own clothing drive for others in needs.  
                                    I love that this program had this type of impact on our students.  
                                    <br />
                                    Sara Mays, Mount Sterling Elementary, 
                                    <br />Mount Sterling, KY
                                </p>
                            </div>
                            <div class="item">
                                <p class = "text-center "> Both presenters did a great job launching, 
                                    interacting mid-way and summarizing with the tic-tac-toe event. 
                                    <br />
                                    Robert Klemt, Liberty Middle School, West Orange, CA
                                </p>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- carousel ends -->
                    <%= link_to contact_us_path  do %>
                    	<span>
							<div class = "panel text-center blacktext">
								<p>To view the full show, click here or contact us at info@camfel.com</p>
							 	<br />
							 </div>
						</span>
					<%end %>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class = "well text-center">
            <h2> Eye to Eye Deluxe Package</h2>
            <p> A follow-up discussion video, two 18"x24" posters, one 5'x2' banner, and 600 two-sided bookmarks can add valuable follow-up to the assembly.</p>
            <br />
            <div class = "discguidetitle" id = "discguide">
                <br />
                <h2>Eye to Eye Discussion Guide</h2>
                <%= link_to asset_path("Eye to Eye Guide.pdf")  do %>
                    <span>
                        <button type="button" class="btn btn-primary">Download PDF</button>
                    </span>
                    <% end %> 
                    <br />
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/Eye to Eye Guide.pdf" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>