<div class = "showinfobackground">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-7">
				<br />
				<%= image_tag("GV_Logo.png", :class => "img-responsive")  %>
			 	<div >
					<h2> Theme: Social Media - Kindness - Citizenship</h2>
					<br />
					<p>Our brains seem to be hardwired to desire connection with others. Social media makes those connections
					easier than ever before and provides many ways to connect with people, not only those around us, but around 
					the world. However, research indicates, that despite all the advances in technology, people today feel less connected than 30 years ago. 
					<br /><br />
					We are desperately seeking connection adn we do that by attempting to receive digital pats on the back, likes,smiles, and hearts.
					We work hard to expand our lists of friends in various social media platforms believing that this will help us feel connected, important,
					wanted and accepted. Unfortunately, after doing all this work, too many end up feeling more isolated, rejected and alone. Amd some cope
					with this pain of isoation and rejection by resorting to smoking, vaping, drugs or alcohol. Others are motivted to bully and criticize others
					in their attempts to feel better about themselves.
					<br /><br />
					Go Viral challenges students to make real connections. Students will be motivated to be real within the social media world.
					they'll be challenged to post more encouraging and comforting comments. They'll be inspired to seek out face to face encounters
					and go viral with kind words and a smile. They'll be given the tools needed to lift one another up and champion each other's accomplishments.
					<br /><br />
					Go Viral will motivate students to build authentic relationships. Students will be inspired to work to improve themselves 
					and look for the value in others. They'll start to establish an identity that others will look up to and work to become a role model for 
					others to follow. Go Viral - Think about it - Imagine what the world could be like if we can go viral with our positive actions and attitudes.
					Let's make our positivity to not only be contagious but to GO VIRAL?
					</p>
				</div>
				<div  class = "row">
					<div class = "col-md-3">
						<br />
						<br />
						<div onClick="document.getElementById('discguide').scrollIntoView();">
							<button type = "button" class = "btn freebutton">FREE</button>
							<button type="button" class="btn btn-primary btn-block" >Go Viral <br />Follow-Up Guide</button>
						</div>
					</div>
					<div class = "col-md-3">
						<br />
						<br />
						<a href = "https://characteredtools.com/assemblies/pointofviewassembly.html"><button type="button" class="btn btn-primary btn-block">Go Viral <br />Deluxe Package</button></a>
					</div>
					<div class = "col-md-3">
						<br />
						<br />
						<%= link_to contact_us_path :class=> "soft-links"  do %>
						<span>
							<button type="button" class="btn btn-primary btn-block">Schedule - Get <br />Available Dates</button>
						</span>
						<%end %>
					</div>
					<div class = "col-md-3">
						<br />
						<br />
				 		<%= link_to asset_path("Go_Viral_info.pdf")  do %>
						<span>
							<button type="button" class="btn btn-primary btn-block">Printable <br /> Flyer</button>
						</span>
						<%end %> 
						<br />
					</div>
				</div>
			</div>
			<div class = "col-md-1">
				<!-- empty div -->
			</div>
			<div class = "col-md-4">
				<br />
				<br />
				<div>
					<div class = "row">
						<div class = "col-md-3">
							<!-- empty div -->
						</div>
						<div class = "panel text-center">
							 <p>You may preview the presentation here!</p>
							 <br />
						</div>
					</div>
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#home">High School</a></li>
						<li><a data-toggle="tab" href="#menu1">Middle School</a></li>
							
					</ul>
					<div class="tab-content">
						<div id="home" class="tab-pane fade in active" >
							<div class="insetborder embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/262288914" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					
							</div>
						</div>
						<div id="menu1" class="tab-pane fade">
							<div class="insetborder embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/283960622" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
						</div>
					</div>
					<!-- carousel begins -->
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<p class = "text-center carouselpad"> Informational and motivational in reference to the video presentation while making 
													real-life relevance to high school aged students.
													<br />Jesse G Sanchez, Brawley Union High School, <br />Brawley, CA</p><br /><br /><br />
							</div>
							<div class="item">
								<p class = "text-center "> The focus on self-determination and commitment 
								was well-suited to our population of 6th through 8th graders.  
								Students love the music and they connect with the featured students in the film. 
								<br />Ivy Davis-Tomczuk, Preston Plains Middle School, Preston, CT</p><br /><br />
							</div>
							<div class="item">
								<p class = "text-center "> The program had something in it that targeted every person in the room one way or another. 
								It was well suited for both middle schooland high school. 
								<br />Kristi Hollingsworth, Winnsboro MS</p><br /><br /><br /><br />
							</div>
							<div class="item">
								<p class = "text-center "> Both presenters did a great job launching, 
								interacting mid-way and summarizing with the tic-tac-toe event. 
								<br />Robert Klemt, Liberty Middle School, West Orange, CA</p><br /><br /><br />
							</div>
						</div>
						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
		 			<!-- carousel ends -->
		 			<%= link_to contact_us_path  do %>
                    	<span>
							<div class = "panel text-center blacktext">
								<p>To view the full show, click here or contact us at info@camfel.com</p>
							 	<br />
							 </div>
						</span>
					<%end %>
				</div>
			</div>
		</div>
		<br />
		<br />
		<div class = "well text-center">
			<h2> Go Viral Deluxe Package</h2>
			<p> A follow-up discussion video, two 18"x24" posters, one 5'x2' banner, and 600 two-sided bookmarks can add valuable follow-up to the assembly.</p>
			<br />
			<div class = "discguidetitle" id = "discguide">
				<br />
				<h2>Go Viral Discussion Guide</h2>
				<%= link_to asset_path("POV Guide complete.pdf")  do %>
						<span>
							<button type="button" class="btn btn-primary">Download PDF</button>
						</span>
					<%end %> 
				<br />
			</div>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="/POV Guide complete.pdf" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>