<div id="title" class="container padding-top-bottom">
    <h1 id="elementaryschool">Junior and High School Assemblies</h1>
    <h4 id="production-explanation">
        3-screen assembly programs designed to erase the insecurities and fears students face daily, 
        replacing them with an understanding of their true protential and the desire and motivation to be the best they can 
        be in whatever circumstances they face.
    </h4>
</div>

<div id="banner-image-1">
    <div class = "banner-text text-center invisible">
        <p class = "banner-title ">Middle & High School Assembly</p>
        <p> 
            Bully Prevention and character building presentations that will engage and</br>
            motivate your students to excel in school and in life
        </p>
        <ul>
            <li>Relatable, & Fun</li>
            <li>Two Versions of Each Program</li>
        </ul>
    </div>
</div>

<div class="container-fluid">  
    <br />
    <div class="row">
        <div class="col-md-1">
            </br></br></br></br>
            <%= link_to 'Option #2', go_viral_path, :class=>"btn btn-primary"%>
        </div>
        <div class="col-md-3">
            <p class="md-size-text"><strong>Go Viral!</strong></p>
            <%= link_to go_viral_path :class=>"soft-link" do %>
            <span>
                <%= image_tag("GV_Logo.png", :class=>"img-responsive") %>
            </span>
            <% end %>
        </div>
        <div class="col-md-7" id="presentation-summary">
            <p class="md-size-text"><strong>Theme: Kindness - Social Media - Citizenship</strong></p>
            <p class="md-size-text">
                <strong>GO VIRAL!</strong> is a new 40 minute multi-media experience from Camfel Productions designed to challenge students to make real connections. 
                Cell phones and social media have altered how we communicate today in some amazing ways. These fabulous tools are incredibly useful for navigating through life today. However, 
                too many students are abusing these tools as well. Social media is filled misleading information or students posting images seeking affirmation via hearts, likes and smiles.
                Some even use social media as a way to bully and criticize others to build themseles up. GO VIRAL will motivate your students to act responsibly within the social media world.
                They'll be challenged to post more real and encouraging comments. They'll be inspired to seek out face to face encounters and GO VIRAL with kind words and a smile.
                GO VIRAL will help your students gain a new sense of their own innate worth, they'll grow to appreciate 
                the diversity of race, language, and culture that make up the community in which they live. 
            </p>
            <%= link_to 'Contact Us', contact_us_path, :class=>"btn btn-primary pull-right left-padding"%> 
            <%= link_to 'Learn More', go_viral_path, :class=>" btn btn-primary pull-right"%> 
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            </br></br></br></br>
            <%= link_to 'Option #1', its_my_life_path, :class=>"btn btn-primary"%>
        </div>
        <div class="col-md-3">
            <p class="md-size-text"><strong>It's My Life</strong></p>
            <%= link_to its_my_life_path :class=>"soft-link" do %>
            <span>
                <%= image_tag("itsmylife_logo.png", :class=>"img-responsive") %>
            </span>
            <% end %>
        </div>
        <div class="col-md-7" id="presentation-summary" class="hidingBox">
            <p class="md-size-text"><strong>Theme: Responsibility</strong></p>
            <p class="md-size-text">
                <strong>IT'S MY LIFE</strong> is a three-screen school assembly. The program focuses on the desire for control; for independence;
                respect; and the power to choose. However, the power to choose comes when we make responsible choices. Making the 
                responsible choice isn't always the easy choice. Everyone likes to have fun, but too often the fun choices are in direct
                conflict with the responsible ones. IT'S MY LIFE is a motivational school assembly challenging students to make positive
                choices for themsleves while demonstrating respect for those around them. 
            </p>
            <%= link_to 'Contact Us', contact_us_path, :class=>"btn btn-primary pull-right left-padding"%>  
            <%= link_to 'Learn More', its_my_life_path, :class=>"btn btn-primary pull-right"%> 
        </div>
    </div>
</div>