<div class = "container">
    <div id = "banner-image-jobs" class = "margin-top">
        
    </div>
    
    <nav class="navbar navbar-custom " role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", jobs_path, :class=> "soft-link" %></li>
          <li><%= link_to "Basic requirements", jobsrequirements_path, :class=> "soft-link" %></li>
          <li><%= link_to "Basic Description", jobsdescription_path, :class=> "soft-link" %></li>
          <li><%= link_to "Media", root_path, :class=> "soft-link" %></li>
          <li><%= link_to "The Tour", jobsthetour_path, :class=> "soft-link" %></li>
          <li><%= link_to "Faq", jobsfaq_path, :class=> "soft-link" %></li>
          <li><a href = "https://www.jotform.com/camfelproductions/camfel_job_application" class = "soft-link">Apply</a></li>
          <li><%= link_to "Contact", contact_us_path, :class=> "soft-link" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class = "row">
        <div class = "col-md-9">
            <h4 class = "text-center">This is our Audiovisual Presenter Job Description.</br>
                        Please do not hesitate to call or e-mail with any questions. </h4>
            
            <ul>
                <li>Have a mindset of learning and working hard. This is not only a job, but a leadership development program.</li>
                <li>Maintain a high level of customer service at all times when dealing with school contacts and students. </li>
                <li>Be responsible for tracking mileage, food and lodging expenses, and show information (all of which we will teach you how to do).  </li>
                <li>Follow an itinerary and travel from venue to venue. </li>
                <li>Drive long distances in order to reach certain venues.</li>
                <li>Book lodging daily within a set budget, and stay at guest homes when provided.</li>
                <li>Be responsible for and track all expenses on your company credit card. </li>
                <li>Maintain show vehicle to company standards. </li>
                <li>Greet and communicate all school/venue personnel with clarity and professionalism.</li>
                <li>Maintain show equipment to company standards. </li>
                <li>Arrive at show venue one hour and forty-five minutes before scheduled show time for set-up. </li>
                <li>Present a motivational interactive presentation at the request of client.</li>
                <li>Work with students/school personnel during set-up and tear-down. </li>
                <li>Perform a weekly call-in with the Team Manager. </li>
                <li>Complete Bible-studies along with an accelerated leadership training course as assigned by the Team Manager. </li>
                <li>Perform other duties as assigned by Team Manger or Company President.</li>
                <li>Participate in a weekly leadership virtual hang-out. </li>
                <li>Attend a church service at least every other week (listening to a pod-cast does NOT fall under church attendance).</li>
                <li>Market to schools and churches.</li>
                <li>Utilize social media such as blogs. </li>
            </ul class = "padding-bottom">
            <div class = "row-justify-content-center">
                <div class = "col-md-3">
                </div>
                <div class = "col-md-6 margin-top">
                    
                    <%= image_tag("jobimages/EmmieAtWork.jpg" )  %>
                </div>
            </div>
        </div>
        <div class = "col-md-3">
            <%= image_tag("jobimages/JENassembly.jpg", :class=> "padding-bottom" )  %>
            <%= image_tag("jobimages/isaac_at_show.jpg", :class=> "padding-bottom" )  %>
            <%= image_tag("jobimages/Ladies-Dress-Code.jpg" )  %>
        </div>
    </div>
    <div class = "row blackbackground margin-top">
        <div class= "col-md-4">
            <%= link_to jobsfaq_path :class=> "soft-links"  do %>
                <span >

                  <%= image_tag("jobimages/faq(icon.png")  %>

                </span>
            <% end %>
        </div>
        <div class= "col-md-4">
            
            <%= link_to jobsthetour_path :class=> "soft-links"  do %>
                <span >
                  <%= image_tag("jobimages/tour(icon.png")  %>
                </span>
            <% end %>
        </div>
        <div class= "col-md-4">
            
            <a href = "https://www.jotform.com/camfelproductions/camfel_job_application"><%= image_tag("jobimages/apply(icon.png")  %></a>
                
        </div>
    </div>  
    <div class = "row">
       <div class = "col-md-3">
            <p>Working for Camfel has giving my husband and I a great opportunity to grow closer to each other as a team and help me grow out of my shell. 
            </br></br> [+]Conney Pattillo 16/17 Tour</p>
        </div>
        <div class = "col-md-3">
            <p>"The beaches of the west coast, the Texan vastness, wildlife of all sorts, the Goonie's house, 
            General Lee, Napoleon Dynamite's school, and Chuck Norris are just a few of the unforgettable things 
            that we have seen since we have hit the road with Camfel! One of the best things is that you get 
            the unique opportunity to speak into the lives of so many people. So impact lives, see & do unforgettable things, 
            travel the country and get paid to do it! We will never regret the time we spent with Camfel!"</br></br> [+]Josh & Brittany Sievers, 2012/2013</p>
        </div>
        <div class = "col-md-3">
            <p>My experience working with Camfel has been wonderful and I highly recommend anyone to work for them. 
            It is a great company to work for all around. You get to see so much of America and grow personally, and spiritually. 
            If you have a heart for youth, and want to make a difference then working for them is something to consider.  
            </br></br> [+]Adriel Kroneberger 16/17 Tour</p>
        </div>
        <div class = "col-md-3">
            <p>"This job is more than a job; it is a way for inspiring and impacting youth all over the nation. It's a great way to see the country and a great experience."
            </br></br> [+]Aaron & Erin, 2012/2013</p>
        </div>
    </div>
</div>    
    