<div class = "container">
    <div id = "banner-image-jobs" class = "margin-top">
        
    </div>
    
    <nav class="navbar navbar-custom " role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Jobs Home", jobs_path, :class=> "soft-link" %></li>
          <li><%= link_to "Basic requirements", jobsrequirements_path, :class=> "soft-link" %></li>
          <li><%= link_to "Basic Description", jobsdescription_path, :class=> "soft-link" %></li>
          <li><%= link_to "About Camfel", about_us_path, :class=> "soft-link", target: :_blank %></li>
          <li><%= link_to "The Tour", jobsthetour_path, :class=> "soft-link" %></li>
          <li><%= link_to "Faq", jobsfaq_path, :class=> "soft-link" %></li>
          <li><%= link_to "Apply", jobs_application_path, :class=> "soft-link", target: :_blank %></li>
          <li><%= link_to "Contact", jobscontact_path, :class=> "soft-link" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class = "row">
        <div class = "col-md-6">
            <p>We are now hiring for the upcoming 2019-2020 school year. 
            If you have ever thought about traveling the country, impacting youth, and getting paid for it, 
            then come join our team for the most memorable experience of a lifetime.</br></br>
            We are looking for enthusiastic and teachable individuals who possess strong work ethics and have a passion for working with students. 
            Individuals must also have a flexible attitude and enjoy traveling the country. Self-motivated individuals who are passionate about making
            a difference in students lives are what we are the people we disire to hire. 
            </br></br>
            All you need is a clean driving and criminal record, be at least 18 years old. No prior technical experience is necessary. We will train you!</br></br>
            This is a four to ten month paid position that begins in August. Most of those hired will be with us till November but several will continue for several more months.
            If you have a family or any other large commitments at home, this may not be the job for you. 
            If you're a Christian, single, or married with no children, we've got the position for you.</br></br>
            Take a look at our Job Requirements and Job Description page for more detailed information.</br></br>
            Call us today at 1-800-359-6922 or e-mail jobs@camfel.com</p>
        </div>
        <div class = "col-md-6 margin-top">
            <%= image_tag("jobimages/ChloeEmmieShow.jpg" )  %>
        </div>
    </div>
    <div class = "row blackbackground margin-top">
        <div class= "col-md-4">
            <%= link_to jobsfaq_path :class=> "soft-links"  do %>
                <span >

                  <%= image_tag("jobimages/faq(icon.png")  %>

                </span>
            <% end %>
        </div>
        <div class= "col-md-4">
            
            <%= link_to jobsthetour_path :class=> "soft-links"  do %>
                <span >
                  <%= image_tag("jobimages/tour(icon.png")  %>
                </span>
            <% end %>
        </div>
        <div class= "col-md-4">
            
            
            <%= link_to jobs_application_path :class=>"soft-link", target: :_blank do %>
                <span>
                   <%= image_tag("jobimages/apply(icon.png") %>
                </span>
            <% end %>
                
        </div>
    </div>  
    <div class = "row">
       <div class = "col-md-3">
            <p>"I can say that without a doubt Camfel has helped me to develop my public speaking skills, character, 
            work ethic, and faith. My teammate and other coworkers were some of the greatest friends that I have had 
            in a long time, that now feel like family. We came together from diferent places and stages in life, and 
            were united because of our common mission/goal. Only someting that God can do." </br></br> [+]Brian Alexander 2018/19 Tour</p>
        </div>
        <div class = "col-md-3">
            <p>"Working for Camfel has given me the opportunity to meet more people and go more places than I ever 
            imagined possible for this stage in my life. I am 21 years old with a bachelor's degree and I have now 
            visited 30 states. As of January 2018, my coworker and I have visited 68 schools and presented to more than 
            45,000 students. If you work for Camfel, you are sure to experience adventure, encounter unique challenges, 
            and learn that you can overcome everything by the power that Christ so powerfully works in you.
            You will be stretched and you will grow. If your are looking for a short-term job with purpose and great 
            surprises, Camfel is the right place for you!"</br></br> [+]Hannah covington 2017-2018</p>
        </div>
        <div class = "col-md-3">
            <p>My experience working with Camfel has been wonderful and I highly recommend anyone to work for them. 
            It is a great company to work for all around. You get to see so much of America and grow personally, and spiritually. 
            If you have a heart for youth, and want to make a difference then working for them is something to consider.  
            </br></br> [+]Adriel Kroneberger 16/17 Tour</p>
        </div>
        <div class = "col-md-3">
            <p>"Working with Camfel has by far been one of the best, stretching and challenging experiences I have had in my life. 
            God taought me so many important life lessons, grew me in ways I never thought possible, and deepened my relationship with Him. 
            Everyday we had the opportunity to speak life into students who needed to hear the message, God's message. 
            As His vessel He allowed me to vistit 39 states and reach over 59,000 students. Camfel provides you the unique opportunity to 
            share the love of Christ with youth, see new places, meet new people and grow spiritually. If you allow it, it'll be the best, 
            challenging, but most rewarding job you might ever have in your life."
            </br></br> [+]Tara McDannel, 2018/2019</p>
        </div>
    </div> 
</div>