<div class = "container">
    <div id = "banner-image-jobs" class = "margin-top">
        
    </div>
    
    <nav class="navbar navbar-custom " role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", jobs_path, :class=> "soft-link" %></li>
          <li><%= link_to "Basic requirements", jobsrequirements_path, :class=> "soft-link" %></li>
          <li><%= link_to "Basic Description", jobsdescription_path, :class=> "soft-link" %></li>
          <li><%= link_to "Media", root_path, :class=> "soft-link", target: :_blank %></li>
          <li><%= link_to "The Tour", jobsthetour_path, :class=> "soft-link" %></li>
          <li><%= link_to "Faq", jobsfaq_path, :class=> "soft-link" %></li>
          <li><%= link_to "Apply", jobs_application_path, :class=> "soft-link", target: :_blank %></li>
          <li><%= link_to "Contact", jobscontact_path, :class=> "soft-link" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    
    <div class = "container">
        <h2 class = "text-center">Frequently Asked Questions </h2>
        <p class = "strong">1. What is this Camfel Productions?</p>
        <p>
            Camfel Productions is a non-profit organization specializing in character ed resources that motivate students 
            to recognize and fire up the possibilities inside each of us. Camfel is known for their original 
            three-screen multi-media assemblies that are seen by millions of students in the United States each year.</br></br>
            Camfel has been dedicated to providing excellent school assembly programs to schools, churches and other organizations for over 47 years. 
        </p>
        <p class = "strong">2. What is the assembly about?</p>
        <p>
            Each Camfel production is designed to promote healthy decisions as students are challenged to examine their own values and attitudes,
            while showing how personal improvement and effort can bring about positive social changes. </br></br>
            We have two shows that are used at a time, and each show lasts about two years. We produce a new show every single year. </br></br>
            All of our shows have current music, movie clips and student stories that are relevant and engaging and hold students' interest.
        </p>
        <p class = "strong">3. How much speaking will I do?</p>
        <p>
            Every presentation will require speaking by either you or your co-worker. </br></br>
            You will do a brief introduction, interaction within the presentation, and an illustrative conclusion. 
            Every program involves student interaction by talking about Character qualities with students.
            We will teach you what you will need to communicate to your audience. 
        </p>
        <p class = "strong">4. How much traveling will I do?</p>
        <p>
            Expect to be in a new city every day.  </br></br>
            You need to have a love for driving and seeing new and interesting places.
            One day you could be staying in a major city like Boston or San Francisco, while other days you could be in a small town in Ohio. 
        </p>
        <p class = "strong">5. Will we have days off to sight see?</p>
        <p>
            Yes. We encourage all of our audiovisual presenters to see the sights, eat at hole-in-the-wall restaurants 
            and meet interesting people. Have fun on your days off!
        </p>
        <p class = "strong">6. Who will be my partner?</p>
        <p>
            We match partners based upon several factors including: age, personalities, strengths, common interests, 
            how well you work together during training. Ultimately, final pairs are determined based on the best interests of our organization.</br></br>
            </p>
        <%= image_tag("jobimages/faq_page_photo.jpg", :class=> "padding-top-bottom" )  %>
        <p class = "strong">7. Will I keep my partner for both semesters?</p>
        <p>
            We give you the option to switch after the first semester or continue to tour together.
            However, final partner pairing will be determined based on first semester performance.
        </p>
        <p class = "strong">8. How much technical knowledge will I need to have?</p>
        <p>
            No prior technical experience is necessary. We will train you. 
            We supply new presenters with all the information and skills needed to set up and run our assemblies. 
            You will be trained in basic room acoustics, basic sound mixing, video projection systems, sound system set-up and tear down, 
            sound and video maintenance, screen set-up and maintenance.  </br></br>
            For two weeks you will stay in beautiful Los Angeles, California while we train you in everything you need to know to be a successful Camfel Presenter.
            We provide food and lodging; all you need is a positive attitude, a willingness to learn and work, and a desire to have a good time while you're at it. 
        </p>
        <p class = "strong">9. Will I have time off for Christmas?</p>
        <p>
            We work hard to make sure everyone has from Christmas day to New Year's day off. 
            Some will have more time off than this. It is based on your particular tour and Christmas destination.
            Concerning the cost to get home for Christmas - we can't always afford to pay the entire cost to get you home, 
            but we do our best to help you with these costs.
        </p>
        <p class = "strong">10. What's the Dress Code?</p>
        <p>
            You will need to have a minimum of 5 durable, professional looking pants, as well as 10 collared shirts,
            on which we will embroider the company logo (free of charge) onto 5 of these shirts. You will also need closed toe shoes to wear to work and shoes appropriate for church.
            
        </p>
        <p class = "strong">11. What about food and lodging?</p>
        <p>
            We provide transportation, fuel cost, cover all lodging, and we give you a reimbursement for food.
            This reimbursement will come toward the end of the month. Fuel and lodging expenses are covered with a company credit card. 
        </p>
        <p class = "strong">12. How much will I be compensated?</p>
        <p>
            You will be compensated $900 a month on top of your $17 a day for food reimbursement. 
            Remember that your lodging and gas is covered during this time as well. 
        </p>
        <p class = "strong">13. Do you offer any sort of health insurance? What if I get hurt or sick on the road?</p>
        <p>
            Unfortunately, we do not currently offer any sort of individual health coverage. 
            You are protected under Workman's Compensation if any work-related injury should occur. 
        </p>
        <p class = "strong">14. I'm interested. What's next?</p>
        <p>
           If you are interested, feel free to fill out the online application. 
           We would love to talk with you about the excellent opportunities available as an Audiovisual Presenter for Camfel Productions! 
        </p>
        <p class = "strong">15. What if I still have questions?</p>
        <p>
           No problem. Just give us a call at 1-800-359-6922, or email us at jobs@camfel.com
           
        </p>
        
    </div>
    <div class = "row blackbackground margin-top">
        <div class= "col-md-4">
            <%= link_to jobsfaq_path :class=> "soft-links"  do %>
                <span >

                  <%= image_tag("jobimages/faq(icon.png")  %>

                </span>
            <% end %>
        </div>
        <div class= "col-md-4">
            
            <%= link_to jobsthetour_path :class=> "soft-links"  do %>
                <span >
                  <%= image_tag("jobimages/tour(icon.png")  %>
                </span>
            <% end %>
        </div>
        <div class= "col-md-4">
            
            <%= link_to jobs_application_path :class=>"soft-link", target: :_blank do %>
                <span>
                   <%= image_tag("jobimages/apply(icon.png") %>
                </span>
            <% end %>   
        </div>
    </div> 
    <div class = "row">
       <div class = "col-md-3">
            <p>Working for Camfel has giving my husband and I a great opportunity to grow closer to each other as a team and help me grow out of my shell. 
            </br></br> [+]Conney Pattillo 16/17 Tour</p>
        </div>
        <div class = "col-md-3">
            <p>"The beaches of the west coast, the Texan vastness, wildlife of all sorts, the Goonie's house, 
            General Lee, Napoleon Dynamite's school, and Chuck Norris are just a few of the unforgettable things 
            that we have seen since we have hit the road with Camfel! One of the best things is that you get 
            the unique opportunity to speak into the lives of so many people. So impact lives, see & do unforgettable things, 
            travel the country and get paid to do it! We will never regret the time we spent with Camfel!"</br></br> [+]Josh & Brittany Sievers, 2012/2013</p>
        </div>
        <div class = "col-md-3">
            <p>My experience working with Camfel has been wonderful and I highly recommend anyone to work for them. 
            It is a great company to work for all around. You get to see so much of America and grow personally, and spiritually. 
            If you have a heart for youth, and want to make a difference then working for them is something to consider.  
            </br></br> [+]Adriel Kroneberger 16/17 Tour</p>
        </div>
        <div class = "col-md-3">
            <p>"This job is more than a job; it is a way for inspiring and impacting youth all over the nation. It's a great way to see the country and a great experience."
            </br></br> [+]Aaron & Erin, 2012/2013</p>
        </div>
    </div> 
</div>