<div class = "showinfobackground">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-7">
				<br />
				<%= image_tag("alt_POV_logo.png", :class => "img-responsive")  %>
			 	<div >
					<h2> Theme: Seeing Value In Others</h2>
					<br />
					<p>It starts with a casual glance; a snap judgment from a distance. 
					"Valuable or worthless?" "Attractive or repulsive?" "Suitable to copy or just to ridicule?"
					We base life-changing conclusions about people on their outside appearance 
					and rarely seek to understand their life from their POINT OF VIEW.
					<br /><br />
					Everybody has a different slant on what's going on, a one-of-a-kind way of looking at life. It's what makes life interesting. 
					And social media has made communicating and the sharing of these one-of-a-kind ideas easier than ever before. 
					However, too many use social media to communicate negative ideas about those they know very little about. 
					Opinions and beliefs are based on minimal evidence but shared with hard hitting comments and crushing words.
					<br /><br />
					Too many POINT OF VIEWs are filled with judging, criticizing, mocking, and condemning statements. 
					<br />These viewpoints build up cliques and tear down confidence. This type of thinking leads people to..
					<br />
					<br />...be critical, lack kindness, and eventually bully others.
					<br />...motivate people to do wrong things, like drugs, alcohol, or smoking to avoid the critical opinions of others.
					<br />...creates doubt in our own abilities leading to a belief that our self-worth is based on what others think. 
					<br /><br />
					It's easy for our POINT OF VIEW to become distorted in our attempts to avoid these negative critics. 
					We believe our worth to be based on the number of likes, hearts and smiles we receive. 
					Our media sites are filled with a long list of friends who know very little about us at all. 
					But does it have to be like this? What if we could change how we approach our viewpoints and work at listening to others.
					Imagine how much richer life will be if we take the time to look a little deeper, to listen to what people are really saying,
					and seek to understand their POINT OF VIEW. 
					
					POINT OF VIEW is a new 40 minute multi-media experience from Camfel Productions designed to look beyond 
					the violence, racism, intolerance, harrassment, and hate in this world, giving students a new perspective 
					on the differences that separate them from their peers, their parents, and the others who are around them. 
					While they gain a new sense of their own innate worth, they'll grow to appreciate 
					the diversity of race, language, and culture that make up the community in which they live. 
					</p>
				</div>
				<div  class = "row">
					<div class = "col-md-3">
						<br />
						<br />
						<div onClick="document.getElementById('discguide').scrollIntoView();">
							<button type = "button" class = "btn freebutton">FREE</button>
							<button type="button" class="btn btn-primary btn-block" >Point of View <br />Follow-Up Guide</button>
						</div>
					</div>
					<div class = "col-md-3">
						<br />
						<br />
						<a href = "https://characteredtools.com/assemblies/pointofviewassembly.html"><button type="button" class="btn btn-primary btn-block">Point of View <br />Deluxe Package</button></a>
					</div>
					<div class = "col-md-3">
						<br />
						<br />
						<%= link_to contact_us_path :class=> "soft-links"  do %>
						<span>
							<button type="button" class="btn btn-primary btn-block">Schedule - Get <br />Available Dates</button>
						</span>
						<%end %>
					</div>
					<div class = "col-md-3">
						<br />
						<br />
				 		<%= link_to asset_path("Point_of_view_info.pdf")  do %>
						<span>
							<button type="button" class="btn btn-primary btn-block">Printable <br /> Flyer</button>
						</span>
						<%end %> 
						<br />
					</div>
				</div>
			</div>
			<div class = "col-md-1">
				<!-- empty div -->
			</div>
			<div class = "col-md-4">
				<br />
				<br />
				<div>
					<div class = "row">
						<div class = "col-md-3">
							<!-- empty div -->
						</div>
						<div class = "panel text-center">
							 <p>You may preview the presentation here!</p>
							 <br />
						</div>
					</div>
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#home">High School</a></li>
						<li><a data-toggle="tab" href="#menu1">Middle School</a></li>
							
					</ul>
					<div class="tab-content">
						<div id="home" class="tab-pane fade in active" >
							<div class="insetborder embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/231789686" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					
							</div>
						</div>
						<div id="menu1" class="tab-pane fade">
							<div class="insetborder embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/231788980" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
						</div>
					</div>
					<!-- carousel begins -->
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<p class = "text-center carouselpad"> Informational and motivational in reference to the video presentation while making 
													real-life relevance to high school aged students.
													<br />Jesse G Sanchez, Brawley Union High School, <br />Brawley, CA</p><br /><br /><br />
							</div>
							<div class="item">
								<p class = "text-center "> The focus on self-determination and commitment 
								was well-suited to our population of 6th through 8th graders.  
								Students love the music and they connect with the featured students in the film. 
								<br />Ivy Davis-Tomczuk, Preston Plains Middle School, Preston, CT</p><br /><br />
							</div>
							<div class="item">
								<p class = "text-center "> The program had something in it that targeted every person in the room one way or another. 
								It was well suited for both middle schooland high school. 
								<br />Kristi Hollingsworth, Winnsboro MS</p><br /><br /><br /><br />
							</div>
							<div class="item">
								<p class = "text-center "> Both presenters did a great job launching, 
								interacting mid-way and summarizing with the tic-tac-toe event. 
								<br />Robert Klemt, Liberty Middle School, West Orange, CA</p><br /><br /><br />
							</div>
						</div>
						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
		 			<!-- carousel ends -->
		 			<%= link_to contact_us_path  do %>
                    	<span>
							<div class = "panel text-center blacktext">
								<p>To view the full show, click here or contact us at info@camfel.com</p>
							 	<br />
							 </div>
						</span>
					<%end %>
				</div>
			</div>
		</div>
		<br />
		<br />
		<div class = "well text-center">
			<h2> Point of View Deluxe Package</h2>
			<p> A follow-up discussion video, two 18"x24" posters, one 5'x2' banner, and 600 two-sided bookmarks can add valuable follow-up to the assembly.</p>
			<br />
			<div class = "discguidetitle" id = "discguide">
				<br />
				<h2>Point of View Discussion Guide</h2>
				<%= link_to asset_path("POV Guide complete.pdf")  do %>
						<span>
							<button type="button" class="btn btn-primary">Download PDF</button>
						</span>
					<%end %> 
				<br />
			</div>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="/POV Guide complete.pdf" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>