<!DOCTYPE html>
<html>
<head>
  <title>Camfel Productions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="Camfel Productions has been making student development and bully prevention programs for 40 years. Our three-screen school assembly programs are designed to reach your students with valuable character lessons in a contemporary and attention grabbing format.">
  <meta name="keywords" content="bullying prevention, anti-bullying, character development"> <!-- add more keywords -->
  <meta name="author" content="Camfel Productions">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<!-- Begin Body -->
<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path, :class=> "soft-link" %></li>
          <li class="soft-link"><%= link_to "About Us", about_us_path, :class=> "soft-link" %></li>
          <li><%= link_to "Elementary School Programs", elementary_path, :class=> "soft-link" %></li>
          <li><%= link_to "Middle & High School Programs", highschool_path, :class=> "soft-link" %></li>
          <li><%= link_to "Scheduling/Get Info", contact_us_path, :class=> "soft-link" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<br />
<br />


<%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<br />

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Camfel </h3>
                    <ul>
                        <li> <%= link_to "Home", root_path%> </li>
                        <li> <%= link_to "About Us", about_us_path%> </li>
                        <li> <%= link_to "Event Prep", event_prep_path %> </li>
                        <li> <%= link_to "Donate", '#' %> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Presentations </h3>
                    <ul>
                        <li> <%= link_to "Elementary Programs", elementary_path%> </li>
                        <li> <%= link_to "Middle School Programs", highschool_path%> </li>
                        <li> <%= link_to "High School Programs", highschool_path%> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Contact </h3>
                    <ul>
                        <li> <%= link_to "Contact Us", contact_us_path%> </li>
                        <li> <a href="tel:1-800-522-6335"> <strong class = "callmemaybe">Toll Free: <br />1-800-522-6335</strong> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Resources </h3>
                    <ul>
                        <li> <a href="http://characteredtools.com/"> Classroom Programs </a> </li>
                        <li> <a href="http://characteredtools.com/character"> Videos </a> </li>
                        <li> <a href="http://characteredtools.com/bannersbookmarksbuttons.html"> Banners & Bookmarks </a> </li>
                        <li> <a href="http://characteredtools.com/posters.html">  Posters </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-4 col-sm-4 col-xs-6">
                    <h3> Follow Us </h3>
                    <ul>
                        <li>
                            <li> <a href="#"> Tell Us Your Story </a> </li>    
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/CamfelAssembly/"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/camfelusa?lang=en"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="https://plus.google.com/111057102321844072971"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="https://www.youtube.com/user/camfelproductions"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Camfel 2017. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<!--<li><i class="fa fa-cc-visa"></i></li>-->
                 <!--   <li><i class="fa fa-cc-mastercard"></i></li>-->
                 <!--   <li><i class="fa fa-cc-amex"></i></li>-->
                 <!--   <li><i class="fa fa-cc-paypal"></i></li>-->
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>

</html>
